/* styling for main container */
.date-selection-wrapper {
  background: white;
  width: 50%;
  height: 250px;
  padding-top: 2%;
  box-shadow: 6px 6px 4px black;
  display: flex;
  justify-content: space-around;
}
/* center aligns all children of main container */
.date-selection-wrapper > * {
  text-align: center;
}
.send-button {
  background: lightblue;
  border-radius: 20px;
  color: black;
  border: none;
  padding: 15px 32px;
  margin-top: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  flex: 0 0 auto;
  height: 60px;
}
.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
